.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.frame-of-the-page {
  width: 976px;
}

.card-small {
  width: 310px;
  height: 72px;
  color: #555555;
  background: #ffffff;
  border: 1px solid rgba(72, 72, 72, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(72, 72, 72, 0.08);
  border-radius: 4px;
}

.garden {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
}

.homes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
}

.h3 {
  display: flex;
  flex-wrap: wrap;
  font-style: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
}

.card-high h4 {
  font-style: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

.card-medium h4 {
  /* display: flex; */
  font-style: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.card-high .img {
  padding-bottom: 10px;
  padding-left: 0px;
}
.img {
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: 0px 10px 0px 10px;
}

h2 {
  text-align: left;
}

.Experiences {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}

.card-high {
  width: 229px;
  height: 395px;
  color: #555555;
}

p {
  text-align: left;
  font-size: 15px;
  line-height: 18px;
  margin-left: 10px;
}

.card-medium {
  width: 310px;
  height: 273px;
  color: #555555;
}

.card-smaller {
  width: 229px;
  height: 241px;
}

.two-colomned {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-template-rows: 100%;
}

.small-high {
  width: 147px;
  height: 247px;
}

p2 {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  font-style: bold;
  font-size: 15px;
  line-height: 18px;
}

.captiondiv {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.star {
  height: 15px;
  width: 15px;
  display: block;
  fill: currentcolor;
}

.header {
  width: 1124px;
  height: 80px;
}

.logo {
  align: left;
  float: left;
  margin: 20px 20px 20px 20px;
}
.search {
  width: 392px;
  height: 48px;
  background: #ffffff;
  border: 1px solid rgba(72, 72, 72, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(72, 72, 72, 0.08);
  border-radius: 4px;
  margin-top: 10px;
}

.headermenu {
  //float: right;
  //position: absolute;
  width: 120px;
  height: 24px;
  // left: 987px;
  top: 27px;
  // flex-wrap: wrap;

  font-family: CircularAir;
  line-height: 24px;
  font-size: 14px;
  text-align: center;

  color: #383838;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background: transparent !important;
  border: none !important;
}
