.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 976px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-12 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-1 {
  flex-basis: 8.3333%;
}
.col-2 {
  flex-basis: 16.6667%;
}
.col-3 {
  flex-basis: 24.9999%;
}
.col-4 {
  flex-basis: 33.3333%;
}
.col-5 {
  flex-basis: 41.6666%;
}
.col-6 {
  flex-basis: 50%;
}
.col-7 {
  flex-basis: 58.4795%;
}
.col-8 {
  flex-basis: 66.6667%;
}
.col-9 {
  flex-basis: 76.9231%;
}
.col-10 {
  flex-basis: 83.3333%;
}
.col-11 {
  flex-basis: 91.7431%;
}
.col-12 {
  flex-basis: 100%;
}

.card-small {
  width: 310px;
  height: 72px;
  color: #555555;
  background: #ffffff;
  border: 1px solid rgba(72, 72, 72, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(72, 72, 72, 0.08);
  border-radius: 4px;
  overflow: hidden;
}

.garden {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
}

.homes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
}

.h3 {
  display: flex;
  flex-wrap: wrap;
  font-style: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
}

.card-high h4 {
  font-style: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

.card-medium h4 {
  /* display: flex; */
  font-style: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.card-high .img {
  padding-bottom: 10px;
  padding-left: 0px;
}
.img {
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: 0px 0px 0px 0px;
}

h2 {
  text-align: left;
}

.Experiences {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}

.card-high {
  width: 229px;
  height: 395px;
  color: #555555;
}

p {
  text-align: left;
  font-size: 15px;
  line-height: 18px;
  margin-left: 10px;
}

.card-medium {
  width: 310px;
  height: 273px;
  color: #555555;
}

.card-smaller {
  width: 229px;
  height: 241px;
}

.two-colomned {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-template-rows: 100%;
}

.small-high {
  width: 147px;
  height: 247px;
}

p2 {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  font-style: bold;
  font-size: 15px;
  line-height: 18px;
}

.captiondiv {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.star {
  height: 15px;
  width: 15px;
  display: block;
  fill: currentcolor;
}

.header {
  width: 1124px;
  height: 80px;
}

.logo {
  align: left;
  float: left;
  margin: 20px 20px 20px 20px;
}
